@import "burger";

@mixin add-font($weight, $style, $name, $file-path) {
  @font-face {
    font-family: $name;
    src: url($file-path + '.woff2') format('woff2'), url($file-path + '.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin icomoonContent() {
  font-family: 'icomoon', sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@mixin flexInlineCenter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
