// Font -------------------
//@include add-font(300, normal,'AktivGroteskCorp', '../fonts/AktivGroteskCorp/AktivGroteskCorp-Light');
//$font-AktivGroteskCorp: 'AktivGroteskCorp', sans-serif;

$base-fontFamily: "Roboto", sans-serif;
$base-fontWeight: 400;
$base-fontSize: 1rem;
$base-lineHeight: 1.4;

// Colors (NOT for use) --------------
$white: #fff;
$dark: #333;

$red: #ff2f00;
$yellow: #ffec42;
$blue: #4588da;
$green: #00aa5b;

// Color for use --------------
$white: #fff;
$light: #f4f6f5;
$gray: #979797;
$dark: #505050;
$body-bg: #fff;
$body-color: #263238;

$primary: #263238;
$second: #70bb3b;
$star: $yellow;
$success: #3e9443;

// Link color -------------
$link: $primary;
$link-h: darken($primary, 10%);

// Media ---------------
$max-xl: 1439px;
$max-l: 1200px;
$max-m: 991px;
$max-s: 767px;
$max-xs: 560px;

// Transition ----------
$transitionDuration: 0.15s;
$btnTransition: color $transitionDuration ease-in, background-color $transitionDuration ease-in,
	border-color $transitionDuration ease-in, box-shadow $transitionDuration ease-in;
$fadeTransition: opacity $transitionDuration * 2 ease-in-out, visibility $transitionDuration * 2 ease-in-out;
