@import "mixins/all";
@import "_variables";
@import "helpers/base";

body {
	font: $base-fontWeight #{$base-fontSize}/#{$base-lineHeight} $base-fontFamily;
	background-color: $body-bg;
}

@import "components/btn";
@import "_libs/radiocheck";
@import "_libs/inputs";
@import "_libs/article";
@import "_libs/swiper";

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	&:hover {
		color: $second;
	}
}
.container {
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100vh;
	&__header {
	}
	&__main {
		flex: 1 1 auto;
	}
	&__footer {
		margin-top: auto;
	}
}
// BREADCRUMBS
.breadcrumbs {
	padding: 20px 0px;
}
.breadcrumbs__list {
}
.breadcrumbs__item {
	display: inline-block;
	font-size: 12px;
	color: $primary;
	margin-right: 5px;
	& + .breadcrumbs__item {
		padding-left: 15px;
		position: relative;
		color: $gray;
		&::before {
			content: "/";
			position: absolute;
			left: 0;
		}
	}
}
.breadcrumbs__link {
	text-decoration: none;
}
// BREADCRUMBS
.title-medium {
	font-size: 20px;
}
.block-border {
	height: 2px;
	background-color: $second;
}
.bg-img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
}
.green-left {
	position: relative;
	&::before {
		position: absolute;
		content: "";
		width: 20px;
		height: 20px;
		left: 0;
		background-color: $second;
		border-radius: 50%;
	}
}
.list-line {
	position: relative;
	&::before {
		position: absolute;
		content: "";
		width: 8px;
		height: 2px;
		left: 0;
		top: 10px;
		background-color: $second;
	}
}

.green-right {
	position: relative;
	&::before {
		position: absolute;
		content: "";
		width: 20px;
		height: 20px;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		background-color: $second;
		border-radius: 50%;
	}
}
.underline {
	position: relative;
	&::after {
		position: absolute;
		content: "";
		bottom: 0;
		left: 0;
		height: 3px;
		width: 50px;
		background-color: $second;
	}
}

.title {
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
	font-family: "Roboto Condensed", sans-serif;
}
.title-page {
	font-size: 27px;
	font-weight: 400;
	padding: 20px 40px;
	border-bottom: 5px solid $second;
}
// HEADER START

.header__main {
	background: $light;
}
.header__main-inner {
	display: flex;
	align-items: center;
}
.logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	span {
		text-decoration: none;
		margin-left: 10px;
		font-size: 20px;
	}
}
.header__tel {
	margin-left: auto;
}
.header__title {
	font-size: 14px;
	font-weight: 400;
	color: $gray;
	margin-bottom: 5px;
}
.header__tel-row {
	display: flex;
	align-items: center;
}
.phone-icon {
	width: 20px;
	height: 20px;
	background: #7b519d;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	svg {
		width: 16px;
		height: 16px;
	}
}
.telegram-icon {
	background-color: #37aee2;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__schedule {
	margin-left: 100px;
	margin-right: 100px;
}
.header__tel-icon {
	margin-left: 5px;
}
.header__bottom {
	background-color: $body-color;
}
.header__menu {
	display: flex;
	font-size: 20px;
	color: $light;
}
.header__menu-item {
	padding: 10px 0px;
	border-bottom: 2px solid $bg-color;
	& + li {
		margin-left: 35px;
	}
}
.header__menu-item--active {
	border-bottom: 2px solid $second;
}
// HEADER END
// MAIN-SLIDER START
.main-slider {
	margin: 0 auto;
	max-width: 1920px;
}
.main-slider__box {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 500px;
	color: $white;
}

.main-slider__content {
	background-color: $body-color;
	opacity: 90%;
	max-width: 570px;
	margin: 20px 10px 70px 50px;
	padding: 20px;
}
.main-slider__title {
	max-width: 305px;
	font-size: 28px;
	line-height: 33px;
	margin-bottom: 15px;
	font-family: "Roboto Condensed", sans-serif;
}
.main-slider__text {
	margin-bottom: 23px;
	font-size: 14px;
	line-height: 21px;
	color: $light;
}
.main-slider__btn {
	background-color: $second;
	color: $white;
	max-width: 150px;
	width: 100%;
}
.main-slider__content-tel {
	margin-left: 20px;
	font-weight: 700;
}
// MAIN-SLIDER END

// SEARCH START
.search {
	background-color: $light;
	padding: 30px 0px;
}
.search__box {
	display: flex;
	align-items: center;
	position: relative;
}
.search__input {
	max-width: 88%;
	width: 100%;
	height: 42px;
	background-color: $white;
	font-size: 14px;
	padding-left: 60px;
	border: 1px solid #ddd;
	&::placeholder {
		color: $gray;
	}
}
.search__btn {
	color: $white;
	width: 12%;
	font-size: 14px;
	font-weight: 700;
	height: 42px;
	border-radius: 0 3px 3px 0;
	background-color: $second;
	&::before {
		content: "";
		position: absolute;
		background-image: url(../images/icons/serch.svg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		top: 10px;
		left: 20px;
		width: 22px;
		height: 22px;
	}
}
// SEARCH END

// CHECKED-ITEMS START
.checked-items {
	background-color: $light;
}
.checked-item__title {
	margin-bottom: 15px;
}
.checked-items__inner {
	margin-bottom: 20px;
	position: relative;
}
.checked__arrow {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -47px;
	width: 30px;
	height: 30px;
	border: 1px solid #e7e7e7;
	background-color: $white;
}
.checked__arrow--disabled {
	background-color: $disabled-gray;
}
.checked__arrow-left {
	right: 40px;
}
.checked__arrow-right {
	right: 0;
}
.checked-items__content {
	background-color: #fff;
}
// CHECKED-ITEM END

// PARTNERS START
.partners {
}

.partners__title {
	margin-bottom: 15px;
}
.partners__box {
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
}
.partners__item {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid $body-color;
	margin-left: 30px;
	width: calc(14.28571% - 30px);
	margin-bottom: 30px;
}
.partners__item-img {
	height: 140px;
	// background-size: contain;
}

.partners__item-title {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 5px;
	color: $white;
	background-color: $success;
}
// PARTNERS END

// NEW-ITEMS START
.new-items {
	margin-bottom: 50px;
}
.new-items__top {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.new-item__title-link {
	align-self: end;
	margin-left: 5px;
	font-size: 14px;
	line-height: 21px;
	color: $gray;
	cursor: pointer;
}

.new-items__slider {
	display: flex;
	margin-left: -30px;
}
.main-item {
	margin-left: 30px;
	width: calc(20% - 30px);
	border: 1px solid $gray;
}
.main-item__img {
	height: 200px;
}
.main-item__content {
	padding: 5px 10px;
}
.main-item__top {
	margin-bottom: 5px;
}
.main-item__title {
	color: $primary;
	font-weight: 400;
	font-size: 17px;
}
.main-item__product-id {
	font-size: 12px;
	color: $gray;
}
.main-item__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-item__price {
	color: $dark;
	font-weight: 500;
	font-size: 20px;
}
.main-item__btn {
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $second;
	color: $white;
	border-radius: 3px;

	svg {
		width: 40px;
		height: 20px;
		fill: white;
		transition: all 0.15s ease-in;
		&:hover {
			fill: $primary;
		}
	}
}
// NEW-ITEMS END

// OUR-GOALS START
.our-goals {
	margin-bottom: 50px;
}
// OUR-GOALS END

// NEWS START
.news {
	margin-bottom: 50px;
}

.news__slider {
	display: flex;
	margin-left: -30px;
}
.news-item {
	width: calc(50% - 30px);
	display: flex;
	height: 400px;
	background-color: $light;
	margin-left: 30px;
}
.news-item__left {
	padding: 15px;
	width: 100%;
}
.news-item__img {
	height: 100%;
}
.news-item__right {
	display: flex;
	flex-direction: column;

	padding: 30px 15px 30px 0;
	width: 100%;
}
.news-item__title {
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 10px;
}
.news-item__content {
	margin-bottom: 15px;
}
.news-item__btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 170px;
	padding: 5px 15px;
	background-color: $second;
	border-radius: 3px;
	color: $white;
	margin-top: auto;

	svg {
		display: block;
		width: 17px;
		height: 17px;
		fill: $white;
		transition: ease-in all 0.15s;
	}
	&:hover {
		color: $primary;
		svg {
			fill: $primary;
		}
	}
}
// NEWS END

// ADVANTAGES START
.advantages {
	margin-bottom: 50px;
}

.advantage__inner {
	background-color: $light;
	padding: 15px;
}
.advantages__title {
	margin-bottom: 15px;
}
.advantages__paragraph {
	color: $light-text;
	margin-bottom: 7px;
}
.advantages__list {
	margin-bottom: 7px;
}
.advantages__list-item {
	padding-left: 15px;
	& + li {
		margin-top: 5px;
	}
}
// ADVANTAGES END

// FOOTER START
.footer {
	background-color: $body-color;
}
.footer__top {
	border-bottom: 1px solid $light;
	padding: 70px 0;
}
.footer__logo {
	color: $white;
	margin-bottom: 30px;
	margin-top: -10px;
	margin-left: -15px;
}
.footer__main {
	display: flex;
	justify-content: space-between;
	color: $gray;
}
.footer__column {
	max-width: 33.33333%;
}
.footer__title {
	color: $white;
	padding-bottom: 15px;
	margin-bottom: 25px;
	font-size: 24px;
}
.footer__text {
	margin-bottom: 20px;
}
.footer__adress {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	svg {
		align-self: start;
		width: 25px;
		height: 25px;
		fill: $second;
		margin-right: 15px;
	}
}
.footer__tel {
	display: flex;
	align-items: center;
	svg {
		fill: $second;
		width: 21px;
		height: 21px;
		margin-right: 15px;
	}
}
.footer__menu {
}
.footer__menu-item {
	padding-left: 20px;
	& + .footer__menu-item {
		margin-top: 10px;
	}
}
.footer__copyright {
	color: $white;
	text-align: center;
	padding: 15px;
}
// FOOTER END

// CONTACTS START
.contacts {
	margin-bottom: 100px;
}
.contacts__inner {
	border: 1px solid $frame;
}

.contact__map {
	padding: 20px 20px 10px;
	width: 100%;
	height: 500px;
	border: 0;
}
.contact__content {
	display: flex;
	justify-content: space-around;
	padding: 20px;
	background-color: $light;
}
.contact__content-column {
	width: 20%;
}
.contact__content-adress {
	max-width: 300px;
}
.contact__content-title {
	padding-left: 40px;
	padding-bottom: 8px;
	margin-bottom: 15px;
}
.contact__content-text {
	color: $light-text;
	& + .contact__content-text {
		margin-top: 5px;
	}
}
// CONTACTS END
// ABOUT START
.about {
	margin-bottom: 100px;
}

.about__inner {
	border: 1px solid $frame;
}

.about__content {
	padding: 20px;
}
.about__paragraph {
	margin-bottom: 10px;
}
.about__img-frame {
	padding: 0 20px 20px;
}
.about__img {
	height: 600px;
}
// ABOUT END

// CATALOG START
.catalog {
	padding: 0px 0px 100px 0px;
}
.container {
}
.catalog__inner {
}
.catlog__title {
	margin-bottom: 30px;
}
.catalog__box {
	display: flex;
}
.catalog__aside {
	width: 270px;
	height: 100%;
	padding: 20px;
	border: 1px solid #dddddd;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.catalog__categories {
}
.catalog__category {
	font-size: 14px;
	& + .catalog__category {
		margin-top: 10px;
	}
}
.catalog__category--active {
	color: $second;
}
.catalog__main {
	width: 100%;
	margin-left: 30px;
}
.catalog__filter {
	margin-bottom: 25px;
	color: $gray;
}
.catalog__sort {
}
.catalog__sort-title {
	font-size: 12px;
}
.catalog__sort-select {
	margin-left: 10px;
}
.catalog__items {
	margin-left: -30px;
	display: flex;
	flex-wrap: wrap;
}

.catalog__item {
	width: calc(25% - 30px);
	margin-bottom: 30px;
}

// CATALOG END

// PRODUCT START
.product {
	margin-bottom: 100px;
}
.product__tile {
	margin-bottom: 20px;
}
.product__content {
}
.product__content-box {
	display: flex;
}
.product__content-left {
	max-width: 470px;
	width: 100%;
}
.product__content-img {
	height: 300px;
}

.product__content-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 40px;
}
.product__content-code {
	color: $gray;
}
.product__content-status {
	color: $red;
	margin-bottom: auto;
	font-size: 18px;
	margin-top: 15px;
}
.product__content-price {
	font-size: 35px;
	font-weight: 300;
	margin-bottom: 40px;
}
.product__content-phones {
}
.product__content-number {
	background-color: $light;
	padding: 7px 10px;
	padding-right: 35px;
}

.product__content-phone {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 22px;
	& + .product__content-phone {
		margin-top: 20px;
	}
	span {
		margin-left: -7px;
		background-color: $second;
		padding: 7px 15px;
		color: $white;
		border-radius: 7px;
	}
}

.product__description {
	margin-bottom: 30px;
}
.product__description-title {
	margin-top: 20px;
	font-size: 20px;
	font-weight: 400;
	padding: 10px 40px;
	border-bottom: 1px solid #70bb3b;
}
.product__description-content {
	padding: 20px;
	background-color: $light;
	border-bottom: 1px solid #70bb3b;
}
.product__description-paragraph {
	& + .product__description-paragraph {
		margin-top: 10px;
	}
}

// PRODUCT END
// START

// END
// START

// END
// START

// END
