$line-height: 1.2;
$border-radius: 3px;
$padding-horizontal: 20px;
$padding-vertical: 11px;
$padding-vertical-sm: 7px;
$padding-vertical-lg: 14px;
$font-weight: 400;
$font-size: inherit;

.btn {
  display: inline-block;
  height: auto;
  line-height: $line-height;
  border-radius: $border-radius;
  padding: $padding-vertical $padding-horizontal;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  user-select: none;
  text-decoration: none;
  text-align: center;
  color: $body-color;
  background-color: transparent;
  font-weight: $font-weight;
  max-width: 100%;
  transition: $btnTransition;
  font-size: $font-size;
  box-shadow: none;
  text-rendering: auto;

  &:hover,
  &:focus {
    color: $body-color;
  }

  &_disabled,
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  // Sizes -----------------
  &_sm {
    padding: $padding-vertical-sm $padding-horizontal*0.8;
  }

  &_lg {
    padding: $padding-vertical-lg $padding-horizontal*1.5;
  }

  &_fw {
    width: 100%;
  }

  &_icon {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  // Themes -----------------
  &_link {
    &:hover,
    &:focus {
      color: $link-h;
    }
  }

  &_primary {
    background-color: $primary;
    color: #fff;

    &:hover,
    &:focus {
      background-color: darken($primary, 5%);
      color: #fff;
    }

    &:active {
      background-color: darken($primary, 10%);
    }
  }

  &_primary_o {
    color: $primary;
    border: 1px solid $primary;

    &:hover,
    &:focus {
      background-color: darken($primary, 5%);
      border-color: darken($primary, 5%);
      color: #fff;
    }

    &:active {
      background-color: darken($primary, 10%);
      border-color: darken($primary, 10%);
    }
  }

  &_primary_border {
    color: $body-color;
    border: 1px solid $primary;

    &:hover,
    &:focus {
      background-color: darken($primary, 5%);
      border-color: darken($primary, 5%);
      color: #fff;
    }

    &:active {
      background-color: darken($primary, 10%);
      border-color: darken($primary, 10%);
    }
  }
}
