$border-color: #999;
$focusShadow: 0 0 0 2px rgba($primary, 50%);
$activeBg: $primary;

.radiocheck {
  font-weight: inherit;
  margin: 0;
  display: inline-flex;

  &__input {
    position: absolute;
    appearance: none;
    outline: none;
    &:focus {
      ~ .radiocheck__icon {
        box-shadow: $focusShadow;
      }
    }
    &[type='checkbox'] {
      ~ .radiocheck__icon {
        &:before {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) rotate(40deg);
          border: solid #fff;
          border-width: 0 0.15em 0.15em 0;
          width: 0.4em;
          height: 0.7em;
          margin-top: -0.07em;
          opacity: 0;
        }
      }
      &:checked {
        ~ .radiocheck__icon {
          background-color: $activeBg;
          border-color: $activeBg;
          &:before {
            opacity: 1;
          }
        }
      }
    }
    &[type='radio'] {
      ~ .radiocheck__icon {
        border-radius: 50%;
        &:before {
          content: '';
          opacity: 0;
          position: absolute;
          height: 0.8em;
          width: 0.8em;
          border-radius: 50%;
          border: 0.15em solid #fff;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &:checked {
        ~ .radiocheck__icon {
          background-color: $activeBg;
          border-color: $activeBg;
          &:before {
            opacity: 1;
          }
        }
      }
    }
    &:disabled {
      ~ .radiocheck__icon {
        opacity: 0.5;
        cursor: default;
      }
    }
  }
  &__icon {
    display: inline-flex;
    width: 1em;
    height: 1em;
    border: 1px solid $border-color;
    cursor: pointer;
    margin-right: 0.4em;
    position: relative;
    top: 0.05em;
    transition: $btnTransition;
  }
}
